/* Check 13 - p13a.rc */

structdef FOO {
    int a,b;
    int c;
    float d;
    bool e;
    float f,g;
};
structdef FOOBAZ {
    int a,b;
    int b;
    float d;
    bool e;
    float f,d,g;
};
function : int main() {
    return 0;
}
