/* Check 13 - p13b.rc */

structdef FOO {
    int a,b;
    int c;
    float d;
    bool e;
    float f,g;
};
structdef FOO2 {
    FOO foo1;
    int a,b;
    int c;
    float d;
    bool e;
    float f,g;
};
function : int main() {
    return 0;
}
