function : int foo() { return 0; }
typedef funcptr : int() MYFP;
MYFP MyFuncPtr;

function : void main() {
    MyFuncPtr = foo;
    MyFuncPtr();            // this will be a function call to foo!
    MYFP * MyFuncPtrPtr;
    MyFuncPtrPtr = &foo;    // NOT ALLOWED - error!
}
