
typedef int THE;
typedef THE AMOUNT;
typedef AMOUNT OF;
typedef OF ALIASES;
typedef ALIASES SHOULD;
typedef SHOULD NOT;

const NOT make = 17;
NOT you = make;

typedef bool BBB;
const BBB sad = true;

function : int main() {
    you = sad;
    return 0;
}
 
