typedef float MYFLOAT;
typedef bool YOURBOOL;

const MYFLOAT f = 1 + 2 + 3 + 5 * 9 + 4 / 17.8;
const int i = 123;
const YOURBOOL b = i < f;

function : int main() {
						 if(b) { return 1; }
						 else { return 2; }
						 return 0;
					 }
