structdef MYS {
	int x, y;
	int z;
	function : void foo() {
		this.x = 8;
		this.z = this.y;
		this.foo(); // recursive call - legal
	}
	function : void bar() {
		this.foo(); // calling other struct function - legal
	}
};
