function : int main ()
{
	const int x = 5;
	new x; // error, not mod lvalue
	int * y;
	new y; // no error
	int z;
	new z; // error, not pointer type
	
	delete x; // error, not mod lvalue
	delete y; // no error
	delete z; // error, not pointer type
	
	new nullptr; // error not mod lvalue
	delete nullptr; // error not mod lvalue
	
	return 0;
}
